
* {
    box-sizing: border-box;
  }
  
  /* html, body {
    margin: 0px;
    height: 100%;
  } */
  
  .imgHeight {
    /* height: 30vh; */
    height: auto;
    max-width: 100%;
    width: auto;
  }
  
  .homeHeight {
    height: auto !important;
  }
  
  .background {
    position: fixed;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    overflow: auto;
    background-image: linear-gradient(to bottom, rgba(1, 1, 2, 0.52), rgba(22, 21, 22, 0.73)), url("../images/emile-perron-xrVDYZRGdw4-unsplash.jpg");
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    /* height: 100vh; */
  }
  
  /* .backgroundNoHeight {
    background-image: linear-gradient(to bottom, rgba(1, 1, 2, 0.52), rgba(22, 21, 22, 0.73)), url("../images/emile-perron-xrVDYZRGdw4-unsplash.jpg");
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    padding-bottom: 20px;
  } */
  
  .font-weight-bolder {
    font-weight: bold;
    color: rgb(253, 253, 253) !important;
  }
  
  .nav-link {
    color: rgb(253, 253, 253) !important;
  }
  
  .transparent {
    background-color: rgba(245, 245, 245, 0.7);
    font-weight: bold;
    color: rgb(5, 5, 5) !important;
  }