
    <!-- MAIN CONTENT -->
    <div class="container p-5 font-weight-bolder">
        <h2 class="display-5">
            About Me
        </h2>
        <div class="row mt-3">
            <div class="col-md-3">
                <img src="../images/rahul.jpg" class="imgHeight">
            </div>
            <div class="col-md-9" style="padding: 50px;">
                
                <p>Hello,</p>
                
                <p>I am Rahul Makwana.I have completed my bachelor's in Computer in India.
                I have a keen interest in Machine Learning , Deep Learning and Data Science and 
                hence I have made many projects such as sign language detection, face recognition 
                and many more that you can see on my project section.I am a dedicated student 
                working towards the future where I want to pursue my career as a data scientist or machine learning engineer.</p>
                <h3 class="display-7">Resume</h3>
                <p><a class="btn btn-primary" href="CV.pdf" role="button">Click here to download</a> my resume.</p>
            </div>
        </div>

    </div>

    