
<div class="container my-5 py-5 text-white text-center">
    
    <div class="jumbotron">
      <h1 class="display-5">Welcome to Rahul`s Portfolio!</h1>

      <p class="lead">
        My name is Rahul and I am from India.I am pursuing Artificial Intelligence course in Centennial College!.
      </p>
      <p><a class="btn btn-primary" href="https://www.linkedin.com/in/rahul-makwana-064a98138/" role="button">LinkedIn</a></p>
      <p><a class="btn btn-primary" href="https://github.com/rahulmakwana1" role="button">GitHub</a></p>
      <p><a class="btn btn-primary" href="https://twitter.com/rahulma29751296" role="button">Twitter</a></p>
    </div>
</div> 