
    <div class="container font-weight-bolder">
        <h1 class="display-5">My Projects</h1>
        <p></p>
        <div>
            <div class="row">
                <div class="col-md-3">
                    <img src="../images/projects/Docs Lung X-Ray-HITN.png" class="imgHeight">
                </div>
                <div class="col-md-9">
                     <!--Project Name-->
                    <h4 class="display-7">Covid-19 chest x-ray detection</h4>
                    <!--Project Description-->
                    <p>This project classified chest X-rays of covid diseases people.
                    Dataset contains two folder where one is for training and other one is for testing, 
                    each folder has images of covid and non-covid. So, I used both simple CNN and transfer learning to classify images.</p>
                    <p>
                        <!--Project Links-->
                        <a class="btn btn-primary btn-lg active"
                            href="https://github.com/rahulmakwana1/Covid-19-chest-x-ray-detection" role="button">View Project</a>
                    </p>
                </div>

            </div>
            <div class="row mt-5">
                <div class="col-md-3 ">
                    <img src="../images/projects/sign language.jpg" class="imgHeight">
                </div>
                <div class="col-md-9">
                    <!--Project Name-->
                    <h4 class="display-7">American Sign Language detection</h4>
                    <!--Project Description-->
                    <p>A simple CNN project for detecting American sign language. Here, I have implemented CNN (Convolution Neural Network) using Keras.</p>
                    <p>
                        <!--Project Links-->
                        <a class="btn btn-primary btn-lg active"
                            href="https://github.com/parthshah28/employee_attrition_predictor" role="button">View project</a>
                    </p>
                </div>

            </div>
            <div class="row mt-5 pb-5">
                <div class="col-md-3"> 
                    <img src="../images/projects/super rs.jpg" class="imgHeight">
                </div>
                <div class="col-md-9">
                    <!--Project Name-->
                    <h4 class="display-7">Image super resolution using deep learning</h4>
                        <a class="btn btn-primary btn-lg active"
                            href="https://github.com/rahulmakwana1/Image-super-resolution-using-deep-learning" role="button">View project
                        </a>
                </div>

            </div>
        </div>
    </div>
