
    
    <div class="container p-5 mt-2 mb-5  transparent">
    
        <h1 class="display-5"></h1>
        <div class="row">
            <div class="col-md-3">
                <img src="../images/services/cv.png" class="imgHeight">
            </div>
            <div class="col-md-9">
                <h2 class="display-7">Computer Vision</h2>
            </div>
            <div class="col-md-3 mt-5">
                <img src="../images/services/machine learning.png" class="imgHeight">
            </div>
            <div class="col-md-9 mt-5">
                
                <h2 class="display-7">Machine Learning</h2>
            </div>
            <div class="col-md-3 mt-5">
                <img src="../images/services/web.png" class="imgHeight">
            </div>
            <div class="col-md-9 mt-5">
               
                <h2 class="display-7">Web developement</h2>
            </div>
            <div class="col-md-3 mt-5">
                <img src="../images/services/content.jpg" class="imgHeight">
            </div>
            <div class="col-md-9 mt-5">
                
                <h2 class="display-7">Content creator</h2>
            </div>
            <div class="col-md-3 mt-5">
                <img src="../images/services/video.jpg" class="imgHeight">
            </div>
            <div class="col-md-9 mt-5">
               
                <h2 class="display-7">Video Editing</h2>
            </div>


        </div>
    </div>

